body {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
        'header'
        'info'
        'footer'
}

.header {
    grid-area: header;
}

.info {
    grid-area: info;
}

.footer {
    grid-area: footer;
}